<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your chat</title>
</head>
<body>
    <p>Edit your message: <%=chat._id%></p>
    <p>This chat wsa sent form <b><%=chat.from%></b> to <b><%=chat.to%></b></p>
    <form action="/chats/<%=chat._id%>?_method=put" method="post">
        <textarea type="text"  rows="5" cols="50" placeholder="<%=chat.msg%> " name="message"></textarea>
        <br>
        <button>Edit</button>
    </form>

    
</body>
</html>