<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
</head>
<style>
    table,th,td{
        border: 1px solid black;

    }
</style>
<body>
    <form method="GET" action="/user/new">
        <button>Add New User</button>
      </form>
    <h2>List of all users</h2>
    <table>
        <tr>
            <th>id            </th>
            <th>Email</th>
            <th>Username</th>
        </tr>
    
        <%for(user of result ){%>
            <tr>
                <td><%=user.id%></td>
                <td><%=user.email%></td>
                <td><%=user.username%></td>
                <td>
                    <form action="/user/<%=user.id%>/edit" method="get">
                        <button>Edit Username</button>
                    </form>
                </td>
                <td>
          <form method="get" action="/user/<%=user.id%>/delete">
            <button>Delete Item</button>
          </form>
        </td>
            </tr>
        
        <%}%>
    </table>
    
</body>
</html>