<%-include("includes/head.ejs")%>
<body>
    <h2>This  page belongs to @<%=data.name %> </h2>
    <button>Follow</button>
    <button>message</button>
    <p>Followers : <%=data.followers%> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Following : <%=data.following%></p>
    <hr>
   <% for(let post of data.posts ){%>
        <img src=<%=post.image%> alt="">
        <p>Likes : <%=post.likes%> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comments : <%=post.comments%></p>
   <%}%>
    
   <%-include("includes/footer.ejs")%>
</body>
</html>